= form_for @story_comment do |f|
  - if @story_comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story_comment.errors.count, "error")} prohibited this story_comment from being saved:"
      %ul
        - @story_comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :text, :rows => 5
  .field
    = f.hidden_field :story_id, :value => @story.id
  .actions
    = f.submit 'Comment', :class => 'btn btn-success'
