.comment
  %strong
    = comment.author.email
  = comment.text
  = link_to t('.delete'), story_comment_path(@story, comment), :method => :delete
  = link_to t('.reply'), '#', :class => 'reply'
  .hidden.comment-form
    = render :partial => 'web/shared/stories/comments/form', :locals => {comment: comment.children.build}