= simple_form_for(@story) do |f|
  = f.input :title
  = f.input :state, :collection => Story.state_machine.states.map(&:name)
  = f.input :description, :as => :text, :input_html => {:rows => 5}
  = f.association :assigned_to, collection: User.all, :include_blank => true
  = f.submit 'Save', :class => 'btn btn-primary'
