!!! 5
%html(lang="en")
  %head
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    %title= t('.name')
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav.navbar-nav
            - if signed_in?
              %li.top-user-name
                = current_user.email
              %li
                = link_to t('.exit'), session_path, :method => :delete
            - else
              %li
                = link_to t('.login'), new_session_path
              %li
                = link_to t('.registration'), new_user_path
    .container.content-wrapper
      = render_breadcrumbs
      = yield
    = javascript_include_tag "application"
