= simple_form_for(@story) do |f|
  = f.input :title
  = f.input :state_event, :as => :state_event
  = f.input :description, :as => :text, :input_html => {:rows => 5}
  = f.association :assigned_to
  = f.button :submit
