.row
  .span8
    %h1
      = t('.title')
    %table
      %tr
        %th Title
        %th State
        %th Assigned to
        %th
        %th
        %th

      - @stories.each do |story|
        %tr
          %td= story.title
          %td= story.state
          %td= story.assigned_to
          %td= link_to t('.show'), story
          %td= link_to t('.edit'), edit_story_path(story)
          %td= link_to t('.destroy'), story, :method => :delete, :data => { :confirm => t('.destroy_confirm') }

    %br

    = link_to t('.new'), new_story_path

  .span4
    %h4
      Filter By:
    = simple_form_for(@q, :method => :get, :url => stories_path, :defaults => {:required => false}) do |f|
      = f.input :assigned_to_email_cont
      = f.input :state_eq, :as => :ransack_state_select
      = f.button :submit
