.row
  .col-md-8
    %h1
      = t('.title')
    %table.table
      %tr
        %th Title
        %th State
        %th Assigned to
        %th
        %th
        %th

      - @stories.each do |story|
        %tr
          %td= story.title
          %td= story.state
          %td= story.assigned_to
          %td= link_to t('.show'), story
          %td= link_to t('.edit'), edit_story_path(story)
          %td= link_to t('.destroy'), story, :method => :delete, :data => { :confirm => t('.destroy_confirm') }

    %br

    = link_to t('.new'), new_story_path

  .col-md-4
    %h4
      Filter By:
    -# TODO FIXME simple form буду делать вместе с ransack
    = form_tag(stories_path, :method => 'get') do
      .field
        = select_tag('state', options_for_select(Story.state_machine.states.map(&:name), params[:state]),
            :include_blank => true)
      .field
        = select_tag('assigned_to_id', options_from_collection_for_select(User.all, :id, :email, params[:assigned_to_id]),
            :include_blank => true)
      .field
        = submit_tag('Filter', :class => 'btn btn-primary')
