#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b State:
  = @story.state
%p
  %b Description:
  = @story.description
%p
  %b Assigned to:
  = @story.assigned_to
%p
  %b Attachment:
  - @attachments.each do |attachment|
    %span
      = attachment.link

%h2
  = t('.comments')

#comments
  = nested_comments @story.comments.includes(:author).arrange(:order => :created_at)
  = render :partial => 'web/stories/comments/form', :locals => {comment: @comment}

= link_to t('.edit'), edit_story_path(@story)
\|
= link_to t('.back'), stories_path
