%p#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b State:
  = @story.state
%p
  %b Description:
  = @story.description
%p
  %b Assigned to:
  = @story.assigned_to
%p
  %b Attachment:
  - @story.attachments.each do |attachment|
    %span
      = link_to_attachment(attachment)

%h2 Add comment

= render @story.comments.includes(:author)

%p
  = render 'web/story/comments/form'

= link_to t('.edit'), edit_story_path(@story)
\|
= link_to t('.back'), stories_path
