<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
          <li class="top-user-name"><%= current_user.email %></li>
          <% #TODO FIXME delete session without id parametr%>
          <li><%= link_to 'Exit', session_path(:id => current_user.id), :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_session_path %></li>
          <li><%= link_to 'Registration', new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container content-wrapper"><%= yield %></div>

</body>
</html>
